<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <script>
        // Redirect the user back to the gallery with the hash
        // Example: /art/artwork/ -> /art/#artwork/
        window.location.replace("/art/#{{ page.slug }}");
    </script>
</head>
<body>
    <p>Redirecting to <a href="/art/#{{ page.slug }}">art/#{{ page.slug }}</a>...</p>
    <div id="frontmatter">
        <h1 id="frontmatter-title">{{ page.title }}</h1>
        <span id="frontmatter-date">{{ page.date | date(format="%b %d, %Y") }}</span>
        <span id="frontmatter-tagline">{{ page.extra.tagline }}</span>
    </div>
    <div id="markdown-text">
        {{ page.content | safe }}
    </div>
    <div id="image-paths">
        {% for asset in page.assets %}
            <span data-path="{{ get_url(path=asset) }}"></span>
        {% endfor %}
    </div>
</body>
</html>