<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <script>
        // Redirect the user back to the gallery with the hash
        // Example: /gallery/my-artwork/ -> /gallery/#my-artwork
        window.location.replace("/art/#{{ page.slug }}");
    </script>
</head>
<body>
    <p>Redirecting to <a href="/art/#{{ page.slug }}">art/#{{ page.slug }}</a>...</p>
    <div id="data-container">
        {{ page.content | safe }}
    </div>
    <div id="image-paths">
        {% for asset in page.assets %}
            <span data-path="{{ get_url(path=asset) }}"></span>
        {% endfor %}
    </div>
</body>
</html>