<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@400;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ get_url(path="images/icon4.png") | safe }}?v=0">
    <link rel="stylesheet" href="{{ get_url(path='styles/style.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='styles/tag-filter.css') }}">
    {% block links %}
    {% endblock links %}

    
    {% set pageType = page | default(value=section) %}
    <style>
        :root {
            --font-main: "Open Sans", sans-serif;
            --font-heading: "REM", sans-serif;

            {% if pageType.extra.colors %}
                {% for key, value in pageType.extra.colors %}
                    --{{ key | replace(from="_", to="-") }}: {{ value }};
                {% endfor %}
            {% endif %}
        }
    </style>
    
    <title>
        {% block title %}
        OmegaFalcon
        {% endblock title %}
    </title>
</head>

<body>
    <section class="section">
        <svg class="strip" preserveAspectRatio="none" viewBox="0 0 100 1">
            <rect width="100" height="1" fill="#ffffff" fill-opacity=".9" />
        </svg>
        {% set icon0 = resize_image(path="/images/GDLF Stickers/Omega.png", width=50, height=50, op="fill", format="png") %}
        {% set icon1 = resize_image(path="/images/GDLF Stickers/Gokube.png", width=50, height=50, op="fill", format="png") %}
        {% set icon2 = resize_image(path="/images/GDLF Stickers/Ace.png", width=50, height=50, op="fill", format="png") %}
        {% set icon3 = resize_image(path="/images/GDLF Stickers/Snow.png", width=50, height=50, op="fill", format="png") %}
        {% set icon4 = resize_image(path="/images/GDLF Stickers/Hacker.png", width=50, height=50, op="fill", format="png") %}
        {% set icon5 = resize_image(path="/images/GDLF Stickers/Coke.png", width=50, height=50, op="fill", format="png") %}
        {% set icon6 = resize_image(path="/images/GDLF Stickers/BT.png", width=50, height=50, op="fill", format="png") %}
        <img src="{{ icon0.url }}" class="strip-icon is-fading" decoding="async" draggable="false" style="right: 130px; --delay: 0s">
        <img src="{{ icon1.url }}" class="strip-icon is-fading" decoding="async" draggable="false" style="right: 90px; --delay: 0.2s">
        <img src="{{ icon2.url }}" class="strip-icon is-fading" decoding="async" draggable="false" style="right: 50px; --delay: 0.4s">
        <img src="{{ icon3.url }}" class="strip-icon is-fading" decoding="async" draggable="false" style="right: 10px; --delay: 0.6s">
        <script>
            const iconList = [
                "{{ icon1.url | safe }}",
                "{{ icon2.url | safe }}",
                "{{ icon3.url | safe }}",
                "{{ icon4.url | safe }}",
                "{{ icon5.url | safe }}",
                "{{ icon6.url | safe }}",
            ];
        </script>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>

<script src="{{ get_url(path="js/strip-icons.js") | safe }}"></script>