<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@400;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ get_url(path="images/icon4.png") | safe }}?v=0">
    <link rel="stylesheet" href="{{ get_url(path='styles/style.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='styles/tag_filter.css') }}">

    {% set pageType = page | default(value=section) %}
    {% if pageType.extra.colors %}
    <style>
        :root {
            --font-main: "Open Sans", sans-serif;
            --font-heading: "REM", sans-serif;

            {% for key, value in pageType.extra.colors %}
                --{{ key | replace(from="_", to="-") }}: {{ value }};
            {% endfor %}
        }
    </style>
    {% endif %}
    <title>
        {% block title %}
        OmegaFalcon
        {% endblock title %}
    </title>
</head>

<body>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>