<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=REM:wght@400;600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ get_url(path="images/icon4.png") | safe }}?v=0">
    <link rel="stylesheet" href="{{ get_url(path='styles/style.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='styles/tag_filter.css') }}">
    {% block links %}
    {% endblock links %}

    
    {% set pageType = page | default(value=section) %}
    <style>
        :root {
            --font-main: "Open Sans", sans-serif;
            --font-heading: "REM", sans-serif;

            {% if pageType.extra.colors %}
                {% for key, value in pageType.extra.colors %}
                    --{{ key | replace(from="_", to="-") }}: {{ value }};
                {% endfor %}
            {% endif %}
        }
    </style>
    
    <title>
        {% block title %}
        OmegaFalcon
        {% endblock title %}
    </title>
</head>

<body>
    <section class="section">
        <svg class="strip" preserveAspectRatio="none" viewBox="0 0 100 1">
            <rect width="100" height="1" fill="#ffffff" fill-opacity=".9" />
        </svg>
        {% set img1 = resize_image(path="/images/GDLF Stickers/Omega.png", width=50, height=50, op="fill", format="png") %}
        <img src="{{ img1.url }}" class="strip-icon" decoding="async" draggable="false" style="right: 130px">
        {% set img2 = resize_image(path="/images/GDLF Stickers/Gokube.png", width=50, height=50, op="fill", format="png") %}
        <img src="{{ img2.url }}" class="strip-icon" decoding="async" draggable="false" style="right: 90px">
        {% set img3 = resize_image(path="/images/GDLF Stickers/Ace.png", width=50, height=50, op="fill", format="png") %}
        <img src="{{ img3.url }}" class="strip-icon" decoding="async" draggable="false" style="right: 50px">
        {% set img4 = resize_image(path="/images/GDLF Stickers/Snow.png", width=50, height=50, op="fill", format="png") %}
        <img src="{{ img4.url }}" class="strip-icon" decoding="async" draggable="false" style="right: 10px">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>

<script src="{{ get_url(path="js/strip-images.js") | safe }}"></script>