.frozen {
    filter: blur(10px) brightness(0.4);
    pointer-events: none;
    user-select: none;
    transition: filter 0.3s ease;
}

.lightbox-container {
    position: fixed;
    opacity: 1;
    inset: 0;

    background: radial-gradient(circle at center, rgba(20, 20, 20, 0.5) 0%, rgba(10, 10, 10, 1) 100%);
    /* background: rgba(0, 0, 0, 0.55); */
    /* backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 10;
}

.ZZZlightbox-container::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    will-change: backdrop-filter; 
    z-index: -1; 
}

.lightbox-left {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
    position: relative;
}

.lightbox-right {
    flex: 1;
    height: 100%;
    padding: 40px;
    overflow-y: auto;
    /* background: #151515; */
    color: #eee;
    line-height: 1.6;
}