html {
    background: linear-gradient(
        160deg,
        var(--bg-color-1, #ffffff),
        var(--bg-color-2, #ffffff)
    );
    /* url("https://grainy-gradients.vercel.app/noise.svg"); */
    /* url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.80' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */

    background-attachment: fixed;
}

.container {
    margin: 40px 4%;
}

body {
    font-family: var(--font-main);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

button,
input,
select,
textarea {
    font-family: inherit;
}

button {
    font-weight: bold;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--text-color, #000000)
}

.title {
    margin: 20px 0px;
}