.tag-filter {
    margin: 10px 0px;
}

.tag-filter button {
    background-color: var(--btn-color, #ffffff);
    color: var(--text-color, #000000);
    
    border: none;
    border-radius: 20px;

    box-shadow: 3px 3px 0px rgba(130, 48, 37, 0.333);

    font-size: 20px;
    /* font-weight: 550; */
    /* padding: 6px 15px; */
    padding: 4px 15px;

    transition: color 0.15s, background-color 0.15s, transform 0.18s ease, scale 0.3s, rotate 0.15s, box-shadow 0.15s, border-color .15s;
    margin-right: 8px;
    margin-bottom: 20px;
}

.tag-filter button.selected {
    background-color: #24a7ff;
    color: #befffa;

    font-style: italic;
    transform: translateY(-6px);

    box-shadow: 3px 3px 0px rgba(29, 24, 80, 0.333);
}

.tag-filter button:hover:not(.selected) {
    transform: translateY(-6px) rotate(-2deg);
}

.tag-filter button:hover.selected {
    background-color: #2189e4;
    color: #cffffa;
}


/* UNION */
.tag-filter button#union-btn {
    font-size: 20px;
    font-family: sans-serif;
    padding: 4px 4px;
    margin-left: 40px;
    border: solid;
    border-color: transparent;
    width: 36.2px;
    height: 36.2px;
    /* transition: box-shadow 0.15s; */
}

.tag-filter button[data-mode*="SINGLE"]:hover#union-btn {
    transform: translateY(0px) rotate(0deg);

    
    background-color: #fae5e5;
    color: var(--text-color, #000000);
    border-color: var(--text-color, #000000);
}

.tag-filter button[data-mode*="ALL"]#union-btn {
    background-color: #9b2828;
    color: var(--btn-color, #ffffff);

    /* transform: rotate(-45deg); */

    /* box-shadow: 0px 4.2px 0px rgba(130, 48, 37, 0.333); */
    box-shadow: 3px 3px 0px rgba(130, 48, 37, 0.333);
}

.tag-filter button[data-mode*="ALL"]:hover#union-btn {
    background-color: #851418;
    color: var(--btn-color, #ffffff);
    border-color: #c85777;
}

.tag-filter button[data-mode*="ANY"]#union-btn {
    background-color: #24a7ff;
    color: #cffffa;

    box-shadow: 3px 3px 0px rgba(29, 24, 80, 0.333);
}

.tag-filter button[data-mode*="ANY"]:hover#union-btn {
    background-color: #2189e4;
    color: var(--btn-color, #cffffa);
    border-color: #4fbcff;
}

.tag-filter button:hover#union-btn {
    transform: translateY(0px) rotate(0deg);
}

#union-btn::after {
    content: "Filter Mode: " attr(data-mode);

    position: absolute;
    left: 130%;

    background: rgba(255, 245, 245, 0.788);
    color: var(--text-color,rgb(0, 0, 0));
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    white-space: nowrap;
    
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#union-btn:hover::after {
    opacity: 1;
}